# **String Interpolation**

inject a variable into a string for printing

ex: my_name="Jose"
print("Hello"+my_name)

Two methods:
1. .format()
2. f-strings

# *Formatting with the .format() method*

 A good way to format objects into your strings for print statements is with
the string .format() method.

The syntax is:
'String {} then also {}'.format('somthing1','somthing2')

In [1]:
print('This is a string {}'.format('INSERTED')) #inserted is placed at the instace where {} is present

This is a string INSERTED

In [3]:
print('The {} {} {}'.format ('fox','brown','quick'))

The fox brown quick

In [4]:
#now we can also use index inside {} to understand which words are to be put where
print('The {2} {1} {0}'.format ('fox','brown','quick'))

The quick brown fox

In [6]:
#using keywords
print('The {q} {b} {f}'.format (f='fox',b='brown',q='quick'))

The quick brown fox

In [10]:
print('The {f} {f} {f}'.format (f='fox',b='brown',q='quick'))

The fox fox fox

# *Float Formatting follows "{value:width.precision f}"*

In [12]:
result=100/777

In [13]:
result

0.1287001287001287

In [26]:
print("The result was {r}".format(r=result))

The result was 104.12345

In [20]:
result=104.12345

In [27]:
print("The result was {r:10.3f}".format(r=result))
#width adds white spaces
#precision is about how many numbers should be considered after the decimal

The result was    104.123

In [22]:
print("The result was {r:1.5f}".format(r=result))

The result was 104.12345

In [25]:
name='Jose'

In [24]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [29]:
name ='Sam'
age =3

In [31]:
print(f'{name} is {age} years old.')

Sam is 3 years old.