In [2]:
#Syntax of a for loop

my_iterable =[1,2,3]
for item_name in my_iterable:
  print(item_name)

1
2
3

In [9]:
myList= [1,2,3,4,5,6,7,8,9,10]

In [8]:
for num in myList:
  print(num)

1
2
3
4
5
6
7
8
9
10

In [5]:
for num in myList:
  print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [6]:
for num in myList:
  #check for even
  if num%2 ==0:
    print(num)
  else:
    print(f'Odd number: {num}')

Odd number: 1
2
Odd number: 3
4
Odd number: 5
6
Odd number: 7
8
Odd number: 9
10

In [12]:
list_sum=0

for num in myList:
  list_sum=list_sum+num
  print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [14]:
myString='Hello World'
for letter in myString:
  print(letter)
  print('COOL!')

H
COOL!
e
COOL!
l
COOL!
l
COOL!
o
COOL!

COOL!
W
COOL!
o
COOL!
r
COOL!
l
COOL!
d
COOL!

**For Loop with Tuples**

In [15]:
tup=(1,2,3)

for item in tup:
  print (item)

1
2
3

In [16]:
myList=[(1,2),(3,4),(5,6),(7,8)]

In [17]:
len(myList)

4

In [18]:
for item in myList:
  print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [19]:
#tuple unpacking
for (a,b) in myList:
  print(a)
  print(b)

1
2
3
4
5
6
7
8

In [20]:
myList=[(1,2,3),(4,5,6),(7,8,9)]

In [21]:
for (a,b,c) in myList:
  print(item)

(7, 8)
(7, 8)
(7, 8)

For Loops with Dictionary

In [25]:
d={'k1':1, 'k2':2,'k3': 3}

for key, value in d.items():
  print(value)

1
2
3