**Range function**

In [1]:
myList=[1,2,3]

In [2]:
#prints all numbers from 0 to 9 (10 is not included)
for num in range(10):
  print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(3,10):
  print(num)

3
4
5
6
7
8
9

In [4]:
for num in range(0,12,2):
  print (num)

0
2
4
6
8
10

In [5]:
list(range(0,12,2))

[0, 2, 4, 6, 8, 10]

**Enumerate**

In [7]:
index_count=0
for letter in 'abcde':
  print('At index {} the letter is {}'.format(index_count,letter))
  index_count+=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [10]:
index_count=0
word='abcde'
for letter in word:
  print(word[index_count])
  index_count+=1

a
b
c
d
e

In [9]:
word= 'abcde'
for item in enumerate(word):
  print(item)

#gives us a tuples in a form of pair(index, word)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [12]:
#unpacking the tuple we got from the enumerate function
word= 'abcde'
for index,letter in enumerate(word):
  print(index)
  print(letter)
  print('\n')

0
a


1
b


2
c


3
d


4
e

**ZIP Function**

Zips together two list and pairs up the items such that they match together.

Say, list1 has three items and list2 has 5 items. Zip function will only pair up the first three elements from list1 and list2. It wont result in error but would ignore the last two items of list2.

In [13]:
myList1=[1,2,3,4,5]
myList2=['a','b','c','d','e']

In [14]:
for item in zip(myList1, myList2):
  print(item)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [15]:
myList1=[1,2,3,4,5]
myList2=['a','b','c','d','e']
myList3=[100,200,300,400,500]

In [16]:
for item in zip(myList1, myList2,myList3):
  print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)
(4, 'd', 400)
(5, 'e', 500)

In [17]:
myList1=[1,2,3,4,5]
myList2=['a','b','c']

In [18]:
for item in zip(myList1, myList2):
  print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [19]:
list(zip(myList1,myList2))
#makes the list of the matching elements from the two lists after zipping it

[(1, 'a'), (2, 'b'), (3, 'c')]

**In function**

In [21]:
'x' in [1,2,3]

False

In [22]:
'x' in ['x','y','z']

True

In [23]:
'a' in 'a world'

True

In [24]:
'mykey' in {'mykey':1}

True

In [25]:
d=  {'mykey':1}

345 in d.keys()

False

**  Min and Max function**

In [28]:
myList=[1,34,5,6,7,39]

In [29]:
min(myList)

1

In [30]:
max(myList)

39

**Importing a function** - doesnt return anything

In [31]:
from random import shuffle

In [36]:
myList =[1,2,34,55,6,4,33,5,6,0]

In [38]:
shuffle(myList)

In [42]:
myList

[6, 4, 33, 55, 34, 2, 1, 6, 5, 0]

In [41]:
shuffled_List= shuffle(myList)

In [46]:
shuffled_List # wont return anything

In [47]:
from random import randint

In [48]:
randint(0,100)

50

In [49]:
myNum=randint(0,999)

In [50]:
myNum

120

**Accepting User Input**

In [51]:
result= input('Enter a number here: ')

Enter a number here: jose

In [52]:
result

'jose'

In [53]:
type(result)

str